/* Colors (Bitwise) */
.c-1 {
    color: #ef4444 !important;
}

.c-2 {
    color: #22c55e !important;
}

.c-3 {
    color: #eab308 !important;
}

.c-4 {
    color: #3b82f6 !important;
}

.c-5 {
    color: #a855f7 !important;
}

.c-6 {
    color: #06b6d4 !important;
}

.c-7 {
    color: #111827 !important;
}
