/* --- Grid System --- */
.grid-container {
    display: grid;
    gap: var(--gap-size);
    background-color: var(--ink-black);
    border: 2px solid var(--ink-black);
    position: relative;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    z-index: 0;
    /* Create stacking context */
}

.cell {
    background-color: var(--ink-white);
    width: var(--cell-size);
    height: var(--cell-size);
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.cell:hover {
    background-color: var(--accent-hover);
}
